# =====================
# macOS
# =====================
.DS_Store

# =====================
# Node / JS
# =====================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================
# Metro / React Native
# =====================
*.jsbundle
.metro-health-check*

# =====================
# Android (New Architecture)
# =====================
android/build/
android/app/build/
.gradle/
local.properties
*.hprof
*.keystore
!debug.keystore

# =====================
# iOS / Xcode
# =====================
ios/build/
DerivedData/
xcuserdata/
*.xcuserstate
*.ipa
*.hmap
**/.xcode.env.local

# =====================
# CocoaPods
# =====================
ios/Pods/
vendor/bundle/

# =====================
# Testing
# =====================
coverage/

# =====================
# Yarn (Berry)
# =====================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env